<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>

        <RollingFile name="audit-register" filename="resources/register.log"
                     filePattern="/tmp/logs/audit-registert-%d{MM-dd-yyyy-HH:mm:ss}.%i.log.gz">
            <PatternLayout>
                <pattern>%d %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Root level="debug">
            <AppenderRef ref="audit-register" />
        </Root>





    </Loggers>

</Configuration>